@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;
  background-color: rgb(175, 25, 25);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  gap: 20px;
}

.message {
  color: white;
  background-color: gray;
  padding: 25px;
  border: 3px solid rgb(86, 0, 0);
  border-radius: 10px;
}

.StartBtn {
  display: block;
  width: 80px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.ResetBtn {
  display: block;
  width: 80px;
  border: 2px solid gray;
  border-radius: 5px;
  margin: 5px;
  cursor: pointer;
}

.StartBtn:hover {
  background-color: rgb(216, 216, 216);
}

.ResetBtn:hover {
  background-color: rgb(216, 216, 216);
}
