@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Muli", sans-serif;
  background-color: rgb(190, 190, 190);
}

h1 {
  margin: 50px 0 30px;
  text-align: center;
}

.faq-container {
  min-width: 600px;
  margin: 0 auto;
}

.faq {
  background-color: transparent;
  border: 3px solid rgb(114, 114, 114);
  border-radius: 10px;
  margin: 20px 0;
  padding: 30px;
  position: relative;
  overflow: hidden;
  transition: 0.3 ease;
}

.faq.active {
  background-color: aliceblue;
}
