@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: brown;
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
}

.container {
  background-color: rgba(0, 255, 255, 0.41);
  border: solid 2px black;
  border-radius: 8px;
  padding: 25px;
}

button {
  border: solid 0.5px rgb(96, 96, 96);
  border-radius: 12px;
  background-color: rgb(189, 189, 189);
}

button:hover {
  background-color: rgb(255, 255, 255);
}
