.hide {
  display: none;
}

.car {
  position: absolute;
  width: 50px;
  height: 150px;
  background-color: blue;
}

.enemy {
  position: absolute;
  width: 50px;
  height: 150px;
  background-color: red;
}

.gameArea {
  background-color: black;
  width: 200px;
  height: 800px;
  overflow: hidden;
  position: relative;
  margin: auto;
}

.line {
  position: absolute;
  height: 100px;
  width: 10px;
  margin-left: 95px;
  background-color: white;
}
