.container .abody {
  padding: 5px;
  border: 1px solid #eee;
  /* display: none; */
}

.container .active .abody {
  display: block;
}

.container .ahead {
  background-color: #333;
  padding: 5px;
  font-size: 1.6em;
  margin: 5px 0;
  color: #fff;
}
