.container {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
}

.copyMe {
  display: inline-block;
  padding: 15px;
  border: 1px solid black;
  min-width: 120px;
  text-align: center;
  height: auto;
  cursor: pointer;
}

.newb {
  color: red;
}

#garbage {
  position: absolute;
  height: 100px;
}
