@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");

* {
  box-sizing: border-box;
}

.container {
  font-family: "Roboto", sans-serif;
  background-color: rgb(143, 80, 80);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  gap: 20px;
}
button {
  background-color: rgb(89, 158, 158);
  padding: 20px;
  border-radius: 15px;
  border: 2px solid purple;
  cursor: pointer;
}

button:hover {
  background-color: rgb(144, 202, 202);
}
