* {
  box-sizing: border-box;
}

body {
  background-color: aquamarine;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.container {
  background-color: blueviolet;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 200px;
  border-radius: 15px;
}

.numb {
  font-size: 2rem;
}

button {
  margin: 5px;
  border-radius: 10px;
  background-color: black;
  color: white;
}

.instruction {
  background-color: rgba(128, 0, 128, 0.66);
  width: 300px;
  padding: 10px;
  margin: 10px;
  color: white;
  border: 2px solid black;
  border-radius: 8px;
}
