body {
  margin: 0;
  display: flex;
  justify-content: center;
  height: 100vh;
  align-items: center;
  background-color: darkblue;
  color: white;
  font-family: cursive;
}

.container {
  display: flex;
  text-align: center;
}

.mouse_position {
  border: 2px solid lightblue;
  margin: 40px;
  min-width: 200px;
  min-height: 100px;
  position: relative;
  font-size: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mouse_position h4 {
  position: absolute;
  margin: 15px;
  top: -50px;
  font-size: 15px;
}

@media (max-width: 500px) {
  .container {
    flex-direction: column;
  }
}
