body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: beige;
}

#calculator {
  background-color: black;
  overflow: hidden;
  border-radius: 15px;
  max-width: 500px;
}

#display {
  font-size: 35px;
  width: 100%;
  padding: 20px 0;
  text-align: right;
  border: none;
  background-color: rgb(215, 215, 215);
}

#keys {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2px;
  padding: 5px;
}

button {
  width: 100%;
  height: 50px;
  font-size: 2rem;
  cursor: pointer;
  background-color: rgb(191, 191, 191);
}

button:hover {
  background-color: rgb(130, 130, 130);
}
