* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 80vh;
  flex-wrap: wrap;
  margin: 0;
  padding-top: 3rem;
  background-color: rgb(140, 205, 184);
}

.container {
  background-color: blanchedalmond;
  width: 300px;
  height: 150px;
  border: 1px solid black;
  border-radius: 5px;
}

.hidden {
  display: none;
}

.message {
  font-size: 2em;
  margin-bottom: 20px;
}
