@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@200;400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background-color: blue;
  color: #ffffff;
  font-family: "Poppins", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

.user-form {
  width: 100%;
  max-width: 700px;
}

.user-form input {
  width: 100%;
  display: block;
  background-color: rgba(137, 43, 226, 0.483);
  border: none;
  border-radius: 10px;
  color: white;
  padding: 1rem;
  margin-bottom: 2rem;
  font-family: inherit;
  font-size: 1rem;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.716);
}

.user-form input:focus {
  outline: none;
}

.card {
  max-width: 800px;
  background-color: rgba(137, 43, 226, 0.483);
  border-radius: 20px;
  display: flex;
  padding: 3rem;
  margin: 0 1.5rem;
}

.avatar {
  border-radius: 50%;
  border: 10px solid rgb(26, 26, 150);
  height: 150px;
  width: 150px;
}
