body {
  background: url("https://images.unsplash.com/photo-1518549223891-a997ef942a35?q=80&w=1925&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  margin: 0 auto;
  max-width: 400px;
  text-align: center;
  padding: 20px;
  font-family: "Roboto";
  background: transparent;
}

.title {
  font-size: 36px;
  margin-bottom: 10px;
  color: rgb(12, 12, 26);
}

.timer {
  font-size: 150px;
  margin: -10px;
  color: black;
}
