body {
  margin: 0;
  min-height: 100vh;
  background: linear-gradient(135deg, #25197f, #7b95fe);
  display: block;
}

.menu {
  position: fixed;
  background: linear-gradient(135deg, #feb47b, #ff7e5f);
  width: 95%;
  margin: 20px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 1000;
  height: 80px;
}

.container {
  padding-top: 150px;
}
