@import url("https://fonts.googleapis.com/css?family=Roboto");

* {
  box-sizing: border-box;
}

body {
  background-color: rgb(56, 163, 230);
  font-family: "Roboto", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h3 {
  color: white;
  margin: 10px 0 20px;
}

.container {
  width: 500px;
}

textarea {
  border: none;
  display: block;
  width: 100%;
  height: 100px;
  font-family: inherit;
  padding: 10px;
  margin: 0 0 20px;
}
