* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

:root {
  --padding: 20px;
  --blur: 0px;
  --base: rgb(255, 133, 0);
  --width: 40%;
  --border-radius: 15px;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  text-align: center;
  font-family: sans-serif;
  background-color: #f6f6f6;
}
