* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: rgb(143, 80, 80);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: rgb(80, 123, 123);
  color: white;
  width: 470px;
  height: 120px;
  padding: 25px;
  margin: 5px;
  border: 5px solid brown;
  border-radius: 15px;
}

input {
  margin: 10px 145px;
  padding: 5px;
}

.clock {
  background-color: blue;
  width: 400px;
  text-align: center;
  color: white;
  font-size: 1em;
}

.clock > span {
  padding: 5px;
  border-radius: 10px;
  background-color: black;
}
