* {
  box-sizing: border-box;
}

body {
  background-color: #08144f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
}

.output {
  width: 200px;
  height: 100px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px 15px 0 0;
  text-align: center;
}

.container {
  background-color: #112485;
  margin: 20px;
  padding: 20px;
  border-radius: 15px;
}

button {
  margin: 15px 0 0 60px;
  border-radius: 5px;
  border: none;
  background-color: rgba(64, 255, 0, 0.678);
}
