html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: rgb(220, 220, 220);
}

img {
  width: 125px;
  height: 100px;
  margin: 5px;
}

.overlay {
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 10;
}

.output {
  position: absolute;
  top: 30%;
  left: 20%;
  width: 60%;
  height: 40%;
  background: white;
  z-index: 20;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.output img {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
.hide {
  display: none;
}
