html,
body {
  height: 100%;
  margin: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 700px;
  height: 500px;
  background-color: rgb(220, 220, 220);
}

img {
  width: 125px;
  height: 100px;
  margin: 5px;
}
