html,
body {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 700px;
  height: 500px;
  background-color: rgb(220, 220, 220);
}

.popImg {
  width: 125px;
  height: 100px;
  margin: 5px;
}

.hide {
  display: none;
}

.front {
  height: 250px;
  width: 312px;
}

.show {
  margin: 50px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  position: relative;
  bottom: 230px;
  left: 310px;
  color: rgb(102, 44, 156);
  cursor: pointer;
}
